@import "./reset";
@import "./variables/global";
@import "./themes/light";
@import "./themes/dark";

.app {
  font: var(--font-m);
  color: var(--primary-color);
  background: var(--inverted-bg-color);
  min-height: 100vh;
}

.content-page {
  display: flex;
}

.page-wrapper {
  background: var(--bg-color);
  flex-grow: 1;
  padding: 20px;

  border: 1px solid var(--primary-color);
  border-radius: var(--border-radius);
}