.app_dark_theme {
  --bg-color: #070723;
  --inverted-bg-color: #f4f4ca;
  --primary-color: #13B2CE;
  --secondary-color: #DBD1C5;
  --inverted-primary-color: #B2241C;
  --inverted-secondary-color: #049604;

  --border-radius: 30px;
}