.app_light_theme {
  --bg-color: #E6E63E;
  --inverted-bg-color: #070723;
  --primary-color: #13B2CE;
  --secondary-color: #DBD1C5;
  --inverted-primary-color: #B2241C;
  --inverted-secondary-color: #049604;
}